@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Roboto Mono", system-ui, sans-serif;
  --font-mono: "Unbounded", system-ui, sans-serif;
}

:root {
  --ui-radius: 0.125rem;
}

@source inline("{bg-{neutral,amber,rose,sky}-500/{10},ring-{neutral,amber,rose,sky}-500/{50},text-{neutral,amber,rose,sky}-{400,500}}");

@layer base {
  html,
  body {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }

  p {
    @apply font-sans;
  }

  button {
    cursor: pointer;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: #fbbf24; /* amber-400 */
    border-radius: 10px;
    border: 2px solid transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #f59e0b; /* amber-500 */
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #fbbf24 transparent;
  }
}
